<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update user</h1>
<form th:method="PATCH" th:action="@{/users/{id}(id=${User.getId()})}" th:object="${User}">
    <fieldset>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="email">Enter Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <label for="year">Enter year: </label>
        <input type="text" th:field="*{year}" id="year"/>
        <br/>
    </fieldset>
    <input type="submit" value="Update"/>
</form>
</body>
</html>