<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>All users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

<button type="button" class="btn btn-dark"><a href="/users/new">Create new user</a></button>
<br>
<br>
<table class="table table-dark table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Year</th>
        <th>Update user</th>
        <th>Delete user</th>

    </tr>
    <tbody>
    <tr th:each="msq  : ${User}">

        <td th:utext="${msq.getId()}"></td>
        <td th:utext="${msq.getName()}"></td>
        <td th:utext="${msq.getEmail()}"></td>
        <td th:utext="${msq.getYear()}"></td>
        <td>
            <form th:action="@{users/edit/{id}(id=${msq.getId()})}" th:object="${User}">
                <button class="btn btn-dark" type="submit">Update</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${msq.getId()})}" th:object="${User}">
                <button class="btn btn-dark" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>